<div class="mt-5">
    <div class="row">
        <div class="col-md-8">
            <app-tabla-productos (newItemEvent)="incrementPageNo($event)" [btnBotones]="false"></app-tabla-productos>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <form [formGroup]="form">
                    <select (change)="cotizarCredito()" class="form-select" 
                    formControlName="plazo" placeholder="yolo">
                        <option *ngFor="let item of plazos" [ngValue]="item"> 
                            Plazo de {{item.plazo}} semanas
                        </option>
                    </select>
                </form>
            </div>
            <div class="col-md-12 mt-5" *ngIf="abonoNormal > 0 && abonoPuntual > 0">
                <p class="fs-3">Abono Normal: <small>${{abonoNormal}}</small></p>
                <p class="fs-3">Abono Puntual: <small>${{abonoPuntual}}</small></p>
            </div>
        </div>
    </div>
</div>